<!DOCTYPE html>
<html>
<head>
  <title>Nizbel</title>
  <%= stylesheet_link_tag    "nizbel/application", :media => "all" %>
  <%= javascript_include_tag "nizbel/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
